.navbar-lewagon {
  // justify-content: space-between;
  background: rgb(188, 108, 37);
  margin-bottom: 10px;
  opacity: 0.7;
  transition: 2s;

  &:hover{
    opacity: 1;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
